




#div_content {
                
                padding:20px;
                margin:0 auto;
                position:relative;
                width:760px;
                -webkit-border-radius:15px;
                -moz-border-radius:15px;
                border-radius:15px;
                top:50px;
                border:2px solid black;
                /*Background Color Is Color For The Box*/
                background-color: #fff;      
 }
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
                /*color: Is Text Color*/
                color: #000
            }
           


            body {
                font-family:Verdana;
                font-size:13px;
            }
            a:link {color:#000000;}
            a:visited {color:#333333;}
            a:hover {color:#BBBBBB;}
            #div_footer {
                padding:10px 10px;
                height:5px;
                width:760px;
                text-align:center;
                font-size:10px;
                color:#444444;
            }

          
            #div_logo {
                margin:0 auto;
                width:760px;
                height:40px;
                text-align:center;
                position:relative;
            }
.bg {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
 @keyframes gradient {
                0% {
                    background-position: 0% 50%;
                }
                50% {
                    background-position: 100% 50%;
                }
                100% {
                    background-position: 0% 50%;
                }